/* CSS */
.container {
  width: 900px;
  margin: 0 auto;
  height: 600px;
  background: cadetblue url('https://i.blogs.es/b274ce/the-last-of-us-hbo/450_1000.jpeg') no-repeat;
  background-size: cover;
}
h1 {
  background-color: black;
  color: whitesmoke;
}
.celeste {
  color: #00FFFF;
}
h2 {
  background-color: #639;
  color: whitesmoke;
  text-align: center;
}
h3 {
  text-align: right;
  color: wheat;
  text-decoration: underline;
}
#mensaje {
  font-size: 1.7rem;
  width: 400px;
  color: antiquewhite;
  border: 3px solid antiquewhite;
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(255, 225, 116, 0.34);
  border-radius: 2rem;
}
footer {
  width: 900px;
  margin: 0 auto;
}
footer .article {
  width: 200px;
  display: inline-block;
  background-color: darkkhaki;
  border: 2px solid gold;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 1rem;
  margin: 1.3rem;
  padding: 1.4rem;
  vertical-align: top;
}